{% extends "book_outlet/base.html" %}

{% block title %}
    Main Page - Book Outlet
{% endblock %}

{% block content %}
    <h1>Welcome to Book Outlet</h1>
    <p>Your one-stop shop for all your book needs!</p>
    
    <div class="book-list">
        {% for book in books %}
            <div class="book-item">
                <h2>{{ book.title }}</h2>
                <p>Author: {{ book.author }}</p>
                <p>Price: ${{ book.price }}</p>
            </div>
                <div class="back-link" >
                    <a href="{{ book.get_absolute_url }}">View Details</a>
                </div>
        {% endfor %}
    </div>
    <hr>
    <p>Total number of Books : {{ count_of_books }}  </p>
    <p>Avrage of rating : {{ avrage_of_rating.rating__avg }}  </p>
    {% if books|length == 0 %}
        <p>No books available at the moment.</p>
    {% endif %}
{% endblock %}
